@charset "utf-8";
/* Kristiāns Danoss */
.carousel-inner {
	padding-top: 20px;
}

.carousel-indicators {
	position: absolute;
	margin-bottom: -60px;
	
}

.carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}