@charset "utf-8";
/* KristiÄns Danoss */
.navigation {
  list-style: none;
  margin: 0;
  float: left;	
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
 	display: -webkit-flex;
  	display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  color: yellow;
}

@media all and (max-width: 800px) {
  		.navigation {
    	justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  		.navigation {
    	-webkit-flex-flow: column wrap;
    	flex-flow: column wrap;
    	padding: 0;
}
  
.navigation a { 
    	text-align: center; 
    	padding: 10px;
    	border-top: 1px solid rgba(255,255,255,0.3); 
    	border-bottom: 1px solid rgba(0,0,0,0.1);
		color: aqua;
}
  
.navigation li:last-of-type a {
    	border-bottom: none;
  }
}

.navigation > li {
	margin-top: -4px;
}

.navigatieon > li a:hover {
	color: black;
}

.a_activ {
	padding: 7px;
}