@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
/* Kristiāns Danoss */

/*mobile izvēlne*/
.dropdown {
	visibility: hidden;
}

.portfolio_mobile {
	visibility: hidden;
}

header {
	
	font: 20px/0 "Dosis", sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

article {
	font: 20px/0 "Dosis", sans-serif;
	font-variant: normal;
	font-weight: normal;
}

.puscaurspidigs_fons {
	background: rgba(26, 47, 66, 0.5); /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
}

.p_color_author {
	color: white;
}

.portfolio {
	font-size: 40px;
	margin-top: -22px;
}

.p_color_meny {
	color: yellow;
	text-align: justify;
}

.virsraksts {
	font: 30px/0 "Dosis", sans-serif;
	line-height: 37px;
	font-weight: bold; 
	color: white;
		padding-top: 40px;
}

.apraksts {
	font: 25px/0 "Dosis", sans-serif;
	line-height: 30px;
	color: white;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
}

.apraksts_2 {
	font: 17px/0 "Dosis", sans-serif;
	line-height: 18px;
	color: white;
		padding-top: 0px;
		padding-left: 15px;
		padding-right: 15px;
}

.apraksts_3 {
	font: 15px/0 sans-serif;
	line-height: 18px;
	color: white;
		padding-top: 0px;
		padding-left: 15px;
		padding-right: 15px;
}

.logo_googledriver {
	width: 100px;
}
/************************** Carusel ******/
.glyphicon_style {
	color: yellow;
	font-size: 40px;
}

/************************** Portfolio ****/
.logo_index {
	padding-top: 5vh;
	width: 35vh;
}
/************************** Latvijai 100 */
.logo_LNBA {
	width: 200px;
}
.LV100_logo {
	width: 250px;
}

.LV100_afisa_1 {
	width: 350px;
}

.LV100_afisa_2 {
	width: 250px;
}
/************************** Plakāti ******/
.plakati {
	width: 55vh;
}

.plakati_horizontalais {
	width: 100vh;
}
/************************** Diplomi ******/
.diplomi {
	width: 55vh;
}

.diplomi_vaks {
	width: 30vh;
}
/************************** Atklātnes ****/
.atklatnes {
	width: 70vh;
}
/************************** Video ********/
.video {
	width: 80vh;
}

.video_small_logo {
	width: 150px;
	margin-left: -10px;
}
/************************** Cits *********/
.cits {
	width: 70vh;
	border-radius: 10px;
	
}
.logo_cits {
	width: 200px;
}

.author {
	border-top: solid 1px grey;
}

#author {
	margin: 8px;
}
/************************** Akrīls *******/
.akrils {
	padding-top: 40px;
}
/************************** Info *********/

.vizitkarte {
	width: 300px;
}

.portrets {
	width: 200px;
}

.par_mani {
	padding-top: 40px;
}

.par_mani_kontakti {
	padding-top: 40px;
}

.par_mani_texts {
	text-align: justify;
}

.par_mani_kontakti_col_1 {
	text-align: right;
	padding: 0;
	margin-left: 0px;
}

.par_mani_kontakti_col_2 {
	text-align: left;
	padding: 0;
	margin-left: 0px;
}
/*****************************************/
























